<div class="row">
    <div class="col-md-4 offset-md-4">
    <form name="inputForm" novalidate ng-submit="login(inputForm.email,inputForm.password)" >
        <div class="alert alert-danger" role="alert" ng-repeat="error in errors">
                {{error}}
            </div>
            <div class="alert alert-success" role="alert" ng-repeat="message in messages">
                {{message}}
            </div>
        <div class="form-group has-error">
            <label class="label" for="email">Email</label>
            <input type="email" id="email" ng-model="inputForm.email" class="form-control" required placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>            
            <input type="password" class="form-control" id="password" ng-minlength="6" required placeholder="Password" ng-model="inputForm.password">
        </div>
        <input ng-if="inputForm.$valid" class="btn btn-success" type="submit" value="Login"  />
        <br/ ng-if="inputForm.$valid">
        <a href="" onclick="angular.element(this).scope().go_register()">Create new account?</a>    
    </form>
    </div>
</div>